body {

  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(../images/drone.jpg);
}

a {
  color: #00b7ff;
}

h5 {
  text-decoration: wavy;
}

h1 {


  margin-top: 20px;
  margin-left: 20px;
}

h2 {
  margin-top: 20px;
  margin-left: 50px;
}

.drones-details {
  margin-top: 30px;
  margin-left: 30px;
}

.drone {

  margin-left: 50px;
}

.btn-float {
  font-size: 16px;
  color: #2d56c6;
  border-radius: 10px;
  letter-spacing: 2px;
  background-color: #ffffff;
  padding: 18px 30px;
  position: fixed;
  bottom: 350px;
  right: 650px;
  transition: all 300ms ease 0ms;

}